 h1{
	font-size: 50px;
	margin: auto;
	color:  #333333;
}



body{ 
	max-width: 600px;
	margin: auto;
	font-family: Georgia, sans-serif;
	background-color: #f5f5f5;
 }

 img{
 	width: 100%;
 }

 .cred{
 	font-size: 10px;
 }

 .stuff{
 	background-color: white;
 	padding: 20px;
 }

